@black: #000000;
@blackLighter: #444444;
@grey: #f1f1f1;
@greyDark: #ececec;
@greyDarker: #c6c6c6;
@green: #63d1bb;
@greenLighter: #59d5bc;
@greenSecond: #56c3b2;
@greenSecondLighter: #46c1ae;
@white: #ffffff;
@whiteDarker: #f9f9f9;

@button-width: 230px;

@mobile-width: 320px;
@mobile-wrapper: 260px;
@mobile-only: ~"(max-width: 767px)";

@tablet-wrapper: 668px;
@tablet: ~"(min-width: 768px)";

@desktop-wrapper: 1050px;
@desktop: ~"(min-width: 1200px)";

@font-family: "Open Sans", "Arial", sans-serif;
