.button {
  .padding(14px);
  display: block;
  margin-top: 25px;
  line-height: 20px;
  color: @blackLighter;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @blackLighter;

  &:hover {
    color: @white;
    background-color: @blackLighter;
  }

  &:active {
    color: fade(@white, 30%);
  }
}
