.contacts__wrapper {
  .wrapper(260px);
}

.contacts__title {
  .font(18px; 30px; 700);
  margin: 0;
  padding-top: 40px;
}

.contacts__list {
  .font(15px; 30px; 400);
  margin-top: 10px;
  color: @color-text;
  border-collapse: collapse;
}

.contacts__field {
  .padding(15px);
  vertical-align: top;
}

.contacts__value {
  .padding(15px);
  padding-left: 28px;
}

.contacts__link-email {
  padding-bottom: 4px;
  color: @color-text;
  text-decoration: none;
  border-bottom: 1px solid @color-main;
}

.contacts__button {
  .wrapper(260px);
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .wrapper(668px);
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__button {
    .wrapper(230px);
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .wrapper(1050px);
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__wrapper {
    padding-left: 175px;
    width: 350px;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__button {
    margin: 0;
    margin-right: auto;
    padding-left: 175px;
  }
}
