.contacts__wrapper {
  .wrapper(260px);
}

.contacts__title {
  margin: 0;
  padding-top: 40px;
  .font(18px; 30px; 700);
}

.contacts__list {
  margin-top: 10px;
  color: @color-text;
  border-collapse: collapse;
  .font(15px; 30px; 400);
}

.contacts__field {
  vertical-align: top;
  .padding(15px);
}

.contacts__value {
  padding-left: 28px;
  .padding(15px);
}

.contacts__link-email {
  padding-bottom: 4px;
  color: @color-text;
  text-decoration: none;
  border-bottom: 1px solid @color-main;
}
