.desktop-list {
  .reset();
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
    order: 4;
    margin-bottom: -65px;
  }
}

.desktop-list__item {
  @media (min-width: @desktop-width) {
    .font(15px; 24px; 700);
    padding-top: 17px;
    padding-left: 50px;
    width: 170px;
  }
}

.desktop-list__link {
  @media (min-width: @desktop-width) {
    color: @black;
    text-decoration: none;
  }
}
