.features__wrapper {
  .wrapper(@mobile-wrapper);
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    margin-top: 55px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(700px);
    margin-top: 70px;
  }
}

.features__title {
  margin: 0;

  @media (min-width: @tablet-width) {
    .font(43px; 50px; 700);
  }

  @media (min-width: @desktop-width) {
    .font(53px; 57px; 700);
  }
}

.features__list {
  .reset();
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10px;
  }
}

.eco {
 fill: #63d1bb;
}

.features__item {
  &:nth-child(2n+1) {
    order: 1;
  }

  &:nth-child(2n) {
    order: 2;
  }

  @media (min-width: @tablet-width) {
    width: 50%;

    &:nth-child(2n) {
      order: 1;
    }
  }
}

.features__pict {
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
  }
}

.features__icon {
  fill: @green;
}

.features__desc {
  .font(17px; 20px; 700);
  margin: 0;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    .font(20px; 22px; 700);
    padding-top: 14px;
  }
}
