.features__wrapper {
  .wrapper(@mobile-wrapper);

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
  }

  @media (min-width: @desktop-width) {
    .wrapper(700px);
  }
}

.features__title {
  margin: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    .font(43px; 50px; 700);
    margin-top: 48px;
  }

  @media (min-width: @desktop-width) {
    .font(53px; 57px; 700);
    margin-top: 55px;
  }
}

.features__list {
  .reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -5px;
    height: 500px;
  }
}

.features__item {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.features__desc {
  margin: 0;
  padding-top: 85px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    .font(20px; 22px; 700);
  }
}
