.form-order {
  .wrapper(260px);
}

.form-order__text {
  .font(13px; 24px; 400);
  margin: 0;
  padding-top: 25px;
  color: @color-text;
}

.form-order__item {
  .font(17px; 18px; 700);
  margin: 0;
  padding: 0;
  margin-top: 30px;
  border: none;
  border-top: 1px solid @color-main;
}

.form-order__title {
  .font(17px; 16px; 700);
  padding-right: 30px;
  color: @color-main;
}

.form-order__label-radio {
  display: block;
  padding-top: 22px;
}

.form-order__label-checkbox {
  display: block;
  padding-top: 22px;
}

.form-order__label-text {
  display: block;
  padding-top: 22px;

  &--tel,
  &--email {
    padding-top: 0;
  }
}

.form-order__input-text {
  .padding(17px);
  width: 260px;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset -0px -2px 0 0 #000000;
}

.form-order__textarea {
  margin-top: 20px;
}

.form-order__text-required {
  .font(14px; 16px; 400);
  margin: 0;
  padding-top: 15px;
  color: @color-text;
}

.form-order__button {
  .font(17px; 16px; 700);
  width: 260px;
  font-family: @font-family;
  background-color: @white;
}
