.form-size {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-size__input {
  display: none;
}

.form-size__label {
  display: block;
  padding: 18px 34px;
  line-height: 16px;
  border: 2px solid @grey;
}

.form-size__button {
  .padding(20px);
  .font(17px; 16px; 700);
  margin-top: 30px;
  margin-bottom: 45px;
  width: @mobile-wrapper;
  color: @white;
  font-family: @font-family;
  text-transform: uppercase;
  background-color: @color-main;
  border: none;
}
