.form-order {
  .wrapper(@mobile-wrapper);

  &--grey {
    margin-bottom: -6px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 100%;

    &--grey {
      margin-bottom: 0;
      background-color: @grey;
    }
  }
}

.form-order__wrapper {
  padding-top: 23px;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    padding-top: 75px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(700px);
    padding-top: 123px;
  }
}

.form-order__text {
  .font(13px; 24px; 400);
  margin: 0;
  color: @blackLighter;

  @media (min-width: @tablet-width) {
    .font(17px; 30px; 400);
    padding-bottom: 5px;
  }
}

.form-order__item {
  .font(17px; 18px; 700);
  margin: 0;
  margin-top: 22px;
  margin-left: -1px;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  border-top: 1px solid @green;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    .font(19px; 18px; 700);
    position: relative;
    margin-top: 0;
    padding-top: 38px;
    padding-bottom: 38px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    .wrapper(@desktop-wrapper);
    margin-top: 0;
    padding-left: 60px;
    box-sizing: border-box;
  }
}

.form-order__title {
  .font(17px; 16px; 700);
  padding-right: 20px;
  color: @green;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 70px;

    &--email {
      top: 5px;
    }
  }
}

.form-order__main {
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 166px;

    &--checkbox {
      display: flex;
      flex-direction: row;
      width: 500px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 115px;
    width: 815px;
    box-sizing: border-box;

    &--checkbox {
      display: flex;
      flex-direction: row;
      width: 900px;
    }
  }
}

.form-order__label-radio {
  padding-top: 15px;
  padding-bottom: 0;
  display: block;
  vertical-align: middle;

  span {
    display: inline-block;
    padding-top: 9px;
    padding-left: 22px;
    width: 187px;
    vertical-align: top;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 1px solid @black;
    clear: both;
  }

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    padding-bottom: 11px;

    span {
      vertical-align: top;
      padding-top: 17px;
      padding-left: 25px;
      width: 300px;
    }

    &::before {
      width: 54px;
      height: 53px;
    }
  }
}

.form-order__input-radio {
  display: none;
}

.form-order__label-checkbox {
  padding-top: 12px;
  padding-bottom: 8px;
  display: block;

  span {
    display: inline-block;
    padding-top: 11px;
    padding-left: 22px;
    vertical-align: top;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 39px;
    border: 1px solid @black;
    clear: both;
  }

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    width: 262px;

    &:nth-child(4n) {
      width: 220px;
    }

    span {
      padding-top: 15px;
      padding-left: 25px;
    }

    &::before {
      width: 54px;
      height: 53px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(4n) {
      width: 262px;
    }

    &:nth-child(6n) {
      width: 220px;
    }
  }
}

.form-order__input-checkbox {
  display: none;
}

.form-order__label-text {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  padding-bottom: 8px;
  width: 100%;

  &--tel,
  &--email {
    padding-top: 0;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  span {
    padding-top: 12px;
    padding-right: 25px;
  }

  &--tel {
    padding-top: 18px;
    width: 100%;
  }

  &--email {
    margin-top: -50px;
    padding-bottom: 10px;
    width: 100%;
  }
}

.form-order__input-text {
  display: block;
  padding-top: 17px;
  padding-bottom: 16px;
  width: auto;
  border: 0;
  background-color: inherit;
  box-sizing: border-box;
  box-shadow: inset 0 -2px @black;

  &::placeholder {
    .font(17px; 18px; 400);
    font-family: @font-family;
    color: fade(@blackLighter, 30%);
  }

  &--tel {
    padding-top: 12px;
    padding-bottom: 16px;
    width: inherit;
  }

  &--email {
    padding-top: 12px;
    padding-bottom: 25px;
    width: inherit;
  }

  @media (min-width: @tablet-width) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 20px;
    width: 100%;

    &::placeholder {
      .font(19px; 18px; 400);
    }
  }
}

.form-order__textarea {
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 15px;
  width: 240px;
  height: 120px;
  border: 2px solid @blackLighter;
  resize: none;

  &::placeholder {
    .font(17px; 18px; 400);
    font-family: @font-family;
    color: fade(@blackLighter, 30%);
  }

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    width: auto;
    height: 125px;

    &::placeholder {
      .font(19px; 18px; 400);
    }
  }

  @media (min-width: @desktop-width) {
    height: 123px;
  }
}

.form-order__footer {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(700px);
    margin-bottom: -55px;
  }
}

.form-order__text-required {
  .font(14px; 16px; 400);
  margin: 0;
  padding-top: 7px;
  color: @blackLighter;

  @media (min-width: @tablet-width) {
    .font(17px; 30px; 400);
    padding-top: 20px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 18px;
  }
}

.form-order__button {
  .font(17px; 16px; 700);
  margin-top: 30px;
  padding-top: 17px;
  width: 260px;
  font-family: @font-family;
  background-color: @white;

  @media (min-width: @tablet-width) {
    margin-top: 13px;
    width: 230px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}
