.logo {
  .padding(22px);
  display: inline-block;
  vertical-align: top;
}

.logo--footer {
  display: none;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 100px;

    &--footer{
      display: block;
    }
  }
}
