.logo {
  .padding(22px);
  display: inline-block;
  vertical-align: top;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 320px;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: @tablet-width)  {
  .logo {
    width: 278px;
  }
}
