.main-nav {
  position: relative;

  &--opened .main-nav__button {
    top: 24px;
    background-image: url("../img/icon-menu-close.svg");
  }

  &--closed .main-nav__button {
    background-image: url("../img/icon-menu-open.svg");
  }

  &--opened .site-list {
    @media (max-width: @mobile-width-only) {
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 10;
    }
  }

  &--closed .site-list__item {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  &--opened .user-list {
    @media (max-width: @mobile-width-only) {
      position: absolute;
      top: 240px;
      right: 0;
      z-index: 10;
    }
  }

  &--closed .user-list__item {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  &--nojs .main-nav__wrapper {
    @media (max-width: @mobile-width-only) {
      position: static;
      display: block;
    }
  }

  &--nojs .site-list__item {
    @media (max-width: @mobile-width-only) {
      display: block;
    }
  }

  &--nojs .user-list__item {
    @media (max-width: @mobile-width-only) {
      display: block;
    }
  }
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    .wrapper(@tablet-width);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1150px);
    justify-content: flex-start;
  }
}

.main-nav__inner {
  .wrapper(@mobile-wrapper);
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    margin: 0;
    padding-left: 50px;
    flex-grow: 1;
    border-bottom: 1px solid @greyDark;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    order: 2;
    padding-left: 0;
  }
}

.main-nav__button {
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 2;
  display: block;
  width: 21px;
  height: 21px;
  background: none;
  background-repeat: no-repeat;
  cursor: pointer;
  border: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__delivery {
  display: none;

  @media (min-width: @tablet-width) {
    .font(15px; 24px; 400);
    .padding(17px);
    display: block;
    flex-grow: 1;
    margin: 0;
    margin-bottom: -65px;
    padding-right: 50px;
    text-align: right;
    color: @blackLighter;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    padding-right: 50px;
  }
}
