.page__footer {
  margin-top: 39px;
  background-color: @grey;
}


.page__wrapper {
  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .wrapper(@desktop-wrapper);
  }
}
