.page__footer {
  margin-top: 39px;
  background-color: @grey;

  @media @tablet {
    margin-top: 63px;
  }

  @media @desktop {
    margin-top: 100px;
  }
}


.page__wrapper {
  @media @tablet {
    .wrapper(@tablet-wrapper);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  @media @desktop {
    .wrapper(@desktop-wrapper);
    padding-top: 35px;
  }
}
