.page__footer {
  margin-top: 39px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
}


.page__wrapper {
  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .wrapper(@desktop-wrapper);
    padding-top: 35px;
  }
}
