.product {
  .wrapper(260px);
}

.product__title {
  .font(25px; 30px; 700);
  margin-top: 26px;
}

.product__top {
  display: block;
  padding-top: 5px;
  line-height: 20px;
  color: @color-main;
  text-transform: uppercase;
}

.product__desc {
  .font(15px; 24px; 400);
  margin: 0;
  padding-top: 23px;
  color: @color-text;
}

.product__list {
  .font(15px; 24px; 400);
  margin-top: 20px;
  width: 260px;
  color: @color-text;
  border-collapse: collapse;
}

.product__line {
  border-bottom: 1px solid @grey;
}

.product__field {
  padding: 7px 0;
}

.product__value {
  padding-left: 16px;
}

.product__img {
  padding-top: 30px;
}

.product__price {
  display: block;
  padding-top: 17px;
  color: @color-text;
  text-align: center;
}
