.product {
  .wrapper(@mobile-wrapper);
  margin-top: 25px;

  &::after {
    .background-zigzag();
    margin-top: 35px;
    //Временная картинка
    background-image: url("../img/zigzag-line-desktop.png");
  }

  @media @tablet {
    .wrapper(@tablet-wrapper);
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;

    &::after {
      margin-top: 55px;
    }
  }

  @media @desktop {
    .wrapper(@desktop-wrapper);

    &::after {
      margin-top: 80px;
    }
  }
}


.product__header {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media @desktop {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 23px;
    width: 100%;
  }
}

.product__title {
  .font(25px; 30px; 700);

  @media @tablet {
    .font(43px;50px; 700);
  }

  @media @desktop {
    .font(53px; 57px; 700);
    order: 2;
    margin-left: 28px;
  }
}

.product__top {
  display: block;
  margin-top: -15px;
  line-height: 20px;
  color: @green;
  text-transform: uppercase;

  @media @tablet {
    .font(17px;17px; 700);
    margin-top: 0;
    padding-top: 47px;
    text-align: center;
    width: 120px;
  }

  @media @desktop {
    padding-top: 60px;
    order: 1;
  }
}

.product__main {
  @media @tablet {
    width: 292px;
  }

  @media @desktop {
    padding-left: 175px;
  }
}

.product__desc {
  .font(15px; 24px; 400);
  margin: 0;
  padding-top: 23px;
  color: @blackLighter;

  @media @tablet {
    .font(17px; 30px; 400);
    padding-top: 13px;
    padding-left: 2px;
  }

  @media @desktop {
    padding-top: 5px;
  }
}

.product__list {
  .font(15px; 24px; 400);
  margin-top: 19px;
  width: @mobile-wrapper;
  color: @blackLighter;
  border-collapse: collapse;

  @media @tablet {
    width: 100%;
    margin-top: 37px;
  }

  @media @desktop {
    margin-top: 50px;
  }
}

.product__line {
  border-bottom: 1px solid @grey;
}

.product__field {
  padding: 7px 0;

  @media @tablet {
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 5px;
  }

  @media @desktop {
    padding: 7px 0;
    padding-left: 2px;
  }
}

.product__value {
  padding-left: 18px;

  @media @tablet {
    padding-left: 0;
  }

  @media @desktop {
    padding-left: 0;
  }
}

.product__img {
  padding-top: 30px;

  @media @tablet {
    padding-top: 20px;
    padding-left: 40px;
    // До подстановки адоптивной графики
    width: 50%;
    height: 404px;
  }

  @media @desktop {
    margin-top: -155px;
    padding-top: 0;
    padding-left: 58px;
    z-index: -1;
    // До подстановки адоптивной графики
    width: 50%;
    height: 636px;
  }
}

.product__footer {
  @media @tablet {
    margin-top: -125px;
    width: 44%;
  }

  @media @desktop {
    width: 28%;
    margin-top: -125px;
    padding-left: 175px;
  }
}

.product__price {
  display: block;
  padding-top: 17px;
  color: @blackLighter;
  text-align: center;

  @media @tablet {
    .font(20px; 24px; 700);
  }
}

.product__order {
  @media @tablet {
    margin-top: 34px;
  }
}
