.product-card {
  margin: 0 auto;
  margin-top: 30px;
  width: @mobile-wrapper;
  border: solid 1px @greyDark;

  &:hover .product-card__wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active > .product-card__wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet {
    .wrapper(@tablet-wrapper);
    display: flex;
    margin-top: 54px;
    border: none;

    &:hover .product-card__wrapper {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active > .product-card__wrapper {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  @media @desktop {
    flex-direction: column;
    margin: 0;
    margin-top: 54px;
    width: 30%;
    padding-right: 5%;
    min-height: 659px;

    &:nth-child(3n) {
      padding-right: 0;
    }

    &:hover .product-card__wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active > .product-card__wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.product-card__picture {
  &:focus {
    outline: none;
  }

  &:focus + .product-card__wrapper {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }

  @media @tablet {
    display: block;
    width: 50%;
    height: 334px;

    &:focus + .product-card__wrapper {
      box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  @media @desktop {
    display: block;
    width: 100%;
    height: 461px;

    &:focus + .product-card__wrapper {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.product-card__wrapper {
  @media @tablet {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid 1px @greyDark;
    box-sizing: border-box;
  }

  @media @desktop {
    .wrapper(315px);
    flex-grow: 1;
    box-sizing: border-box;
  }
}

.product-card__link {
  .wrapper(200px);
  display: block;
  padding-top: 20px;
  color: @black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover ~ .product-card__footer > .product-card__button > .product-card__pict {
    fill: @green;
    opacity: 1;
  }

  &:active ~ .product-card__footer > .product-card__button > .product-card__pict {
    fill: @green;
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
    outline: none;
  }

  &:focus ~ .product-card__footer > .product-card__button > .product-card__pict {
    fill: @green;
    opacity: 0.3;
  }

  @media @tablet {
    .wrapper(280px);
    .font(20px; 24px; 700);
    padding-top: 25px;
  }

  @media @desktop {
    .wrapper(256px);
  }
}

.product-card__desc {
  .wrapper(200px);
  .font(13px; 30px; 400);
  padding-top: 5px;
  padding-bottom: 19px;
  color: @blackLighter;

  @media @tablet {
    .wrapper(280px);
    .font(15px; 30px; 400);
    padding-top: 5px;
  }

  @media @desktop {
    .wrapper(256px);
    padding-bottom: 0;
  }
}

.product-card__footer {
  .wrapper(200px);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 27px;
  border-top: 1px solid @greyDark;

  @media @tablet {
    .wrapper(268px);
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 25px;
  }

  @media @desktop {
    .wrapper(256px);
    margin-top: auto;
  }
}

.product-card__price {
  margin: 0;
  font-size: 15px;

  @media @tablet {
    .font();
    padding-top: 23px;
  }

  @media @desktop {
    margin-left: -3px;
    padding-top: 22px;
  }
}

.product-card__button {
  background-color: @white;
  border: none;

  &:focus {
    outline: none;
  }

  &:focus .product-card__pict {
    fill: @green;
    opacity: 0.3;
  }

  &:hover .product-card__pict {
    fill: @green;
    opacity: 1;
  }

  &:active .product-card__pict {
    fill: @green;
    opacity: 0.3;
  }
}

.product-card__pict {
  margin-right: -7px;
  padding-top: 0;
  width: 20px;
  height: 20px;
  fill: @black;
  opacity: 0.2;
  cursor: pointer;

  @media @tablet {
    padding-top: 20px;
  }
}
