.promo {
  background-color: @color-promo;
}

.promo__wrapper {
  background: @color-promo url("../img/hero-mobile@1x.jpg") no-repeat -130px -20px;
}

.promo__title {
  .wrapper(240px);
  .font(27px; 30px; 700);
  padding: 70px 40px 120px;
  text-align: center;
}

.promo__link {
  .padding(28px);
  display: block;
  font-size: 19px;
  color: @white;
  text-decoration: none;

  &--interior {
    background-color: @color-main;
  }

  &--toy {
    background-color: @color-second;
  }
}

.promo__inner {
  .wrapper(260px);
}

.promo__item-text {
  display: block;
  width: 120px;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    .wrapper(768px);
    background: @color-promo url("../img/hero-tablet@1x.jpg") no-repeat;
  }

  .promo__inner {
    padding-left: 38px;
    width: 100%;
  }

  .promo__title {
    .wrapper(500px);
    .font(43px; 50px; 700);
    padding: 153px 0 373px;
  }

  .promo__category {
    .font(20px; 30px; 700);
    .wrapper(668px);
    display: flex;
  }

  .promo__link {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    .wrapper(1050px);
    background: @color-promo url("../img/hero-desktop@1x.jpg") -100px 0 no-repeat;
  }

  .promo__title {
    .wrapper(640px);
    .font(53px; 57px; 700);
    padding: 153px 0 360px;
  }

  .promo__category {
    .wrapper(1050px);
  }
}
