.reviews__wrapper {
  .wrapper(260px);
}

.reviews__title {
  .font(25px; 30px; 700);
  margin: 0;
  padding-top: 60px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  .font(15px; 30px; 400);
  margin: 0;
  padding-top: 35px;
  color: @color-text;
}

.rewiews__author-name {
  display: block;
  padding-top: 30px;

  &--nick {
    .font(17px; 30px; 400);
    display: block;
    padding-top: 5px;
    color: @color-text;
  }
}

.reviews__prew {
  margin-top: 33px;
}

.reviews__write {
  margin-top: 38px;
}
