.reviews__wrapper {
  margin: 0 auto;
  width: 260px;
}

.reviews__title {
  margin: 0;
  padding-top: 60px;
  .font(25px; 30px; 700);
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  padding-top: 35px;
  color: @color-text;
  .font(15px; 30px; 400);
}

.rewiews__author-name {
  display: block;
  padding-top: 30px;

  &--nick {
    display: block;
    padding-top: 5px;
    color: @color-text;
    .font(17px; 30px; 400);
  }
}

.reviews__prew {
  margin-top: 33px;
}

.reviews__write {
  margin-top: 38px;
}
