.social {
  .wrapper(260px);
  .padding(24px);
  border-bottom: 1px solid @greyDark;

  @media @tablet {
    padding-top: 5px;
    padding-bottom: 0;
    border: none;
  }
}

.social__wrapper {
  .wrapper(180px);
  display: flex;
  justify-content: space-around;
}

.social__link {
  display: block;
  width: 27px;
  height: 30px;

  &--instagram {
    padding-top: 2px;
    padding-left: 2px;
  }

  &--twitter {
    padding-top: 2px;
  }

  &:hover {
    fill: @greenSecondLighter;
  }

  &:focus {
    fill: @greenSecondLighter;
    outline: none;
  }

  & .social__pict:active {
    fill: fade(@greenSecondLighter, 30%);
  }
}
