.tagline {
  .padding(75px);
  .font(27px; 30px; 700);
  margin: 0;
  text-align: center;
  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .tagline {
    .font(43px; 50px; 700);
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

@media (min-width: @desktop-width) {
  .tagline {
    .padding(100px);
    .font(53px; 57px; 700);
  }
}
