.user-list {
  .reset();

  @media @tablet {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    order: 2;
    padding-right: 50px;
    width: 350px;
  }

  @media @desktop {
    width: 350px;
  }
}

.user-list__item {
  background-color: @white;
  box-shadow: 0 1px @greyDark,
    inset 0 1px @greyDark;

  & .user-list__link:hover {
    color: fade(@black, 60%);
  }

  &:hover svg {
    fill: @green;
    opacity: 1;
  }

  & .user-list__link:active {
    opacity: 0.3;
  }

  @media @tablet {
    box-shadow: none;

    &--search {
      border-left: 1px solid @greyDark;
      border-right: 1px solid @greyDark;
    }
  }
}

.user-list__link {
  .site-list__link;
  display: flex;
  justify-content: flex-start;

  &:focus svg {
    fill: @green;
    opacity: 1;
  }

  @media @tablet {
    .padding(32px);
    .font(17px; 24px; 700);
    margin: 0;

    &--search {
      width: 82px;
    }

    &--basket {
      width: 265px;
      text-align: right;
    }

    &--search span {
      .visually-hidden;
    }
  }

  @media @desktop {
    &--basket {
      width: 265px;
      box-sizing: border-box;
    }
  }
}

.user-list__pict {
  padding-left: 34px;
  padding-right: 25px;
  opacity: 0.2;

  @media @tablet {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding-left: 32px;
    padding-right: 30px;
  }
}
