.video {
  margin: 0 auto;
  margin-top: 30px;
  width: @mobile-wrapper;
  border: solid 1px @grey-border;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    display: flex;
    flex-direction: column;
    margin-top: 53px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(@desktop-wrapper);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 57px;
  }
}

.video__wrapper {
  .wrapper(200px);

  @media (min-width: @tablet-width) {
    .wrapper(87%);
    order: 2;
  }

  @media (min-width: @desktop-width) {
    .wrapper(230px);

    &:last-child {
      margin: 0;
      margin-top: -370px;
      margin-left: auto;
    }
  }
}

.video__player {
  @media (min-width: @tablet-width) {
    order: 1;
    padding: 0;
    width: @tablet-wrapper;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 65%;
    height: 455px;
  }
}

.video__title {
  .padding(25px);
  margin: 0;

  @media (min-width: @tablet-width) {
    .font(20px; 24px; 700);
  }
}

.video__desc {
  .font(13px; 24px; 400);
  margin: 0;
  padding-top: 30px;
  color: @color-text;
}

.video__order {
  margin-bottom: 33px;
}
