.video {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px;
  width: @mobile-wrapper;
  border: solid 1px @grey-border;

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    .wrapper(@desktop-wrapper);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 58px;
  }
}

.video__wrapper {
  .wrapper(192px);

  @media (min-width: @tablet-width) {
    .wrapper(@tablet-wrapper);
    order: 2;
    border: solid 1px @grey-border;
    box-sizing: border-box;

    &--header {
      border-bottom: none;
    }

    &--main {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    .wrapper(366px);

    &--main {
      margin: 0;
      margin-top: -283px;
      margin-left: auto;
      padding-left: 20px;
      border: none;
      border-bottom: solid 1px @grey-border;
    }
  }
}

.video__player {
  @media (min-width: @tablet-width) {
    order: 1;
    padding: 0;
    width: @tablet-wrapper;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 683px;
    height: 455px;
  }
}

.video__title {
  .padding(25px);
  .font(17px; 24px; 700);
  margin: 0;
  padding-left: 58px;

  @media (min-width: @tablet-width) {
    .wrapper(584px);
    .font(20px; 24px; 700);
    padding-top: 38px;
    padding-left: 65px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    .wrapper(230px);
    padding-top: 95px;
    padding-left: 10px;
  }
}

.video__desc {
  .font(13px; 24px; 400);
  margin: 0;
  padding-top: 20px;
  color: @color-text;

  @media (min-width: @tablet-width) {
    .wrapper(584px);
    .font(15px; 30px; 400);
    padding-top: 7px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(230px);
  }
}

.video__order {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    .wrapper(584px);
    margin-top: 35px;
    margin-bottom: 45px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    .wrapper(230px);
    margin-top: 45px;

  }
}
