.video__wrapper {
  .wrapper(200px);
}

.video__title {
  .padding(25px);
  margin: 0;
}

.video__desc {
  .font(13px; 24px; 400);
  margin: 0;
  padding-top: 30px;
  color: @color-text;
}

.video__order {
  margin-bottom: 33px;
}
